@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);

@font-face {
  font-family: Avenir;
  src: url(/Avenir.ttc);
}

html {
  background: url(images/spring-testing-002.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  background-color: rgba(47, 47, 47, .5);
  position: fixed;
  min-width: 450px;
  width: 35%;
  height: 100%;
  padding-left: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Avenir";
  font-weight: 400;
  text-transform: uppercase;
}

ul li {
  margin: 1em;
  font-size: 1.2em;
  letter-spacing: 2px;
  text-shadow: 1px 1px silver;
}

ul li a:link, a:active, a:visited {
  text-decoration: none;
  color: white;
}

ul li a:hover {
  color: tomato;
}

h1 {
  font-family: Avenir;
  font-weight: 400;
  font-size: 1.5em;
  color: white;
  text-shadow: 1px 1px silver;
  letter-spacing: 2px;
}

h2 {
  font-family: Avenir;
  text-transform: uppercase;
  text-shadow: 3px 3px tomato;
  font-size: 3.2em;
  line-height: 1.5em;
  color: white;
  letter-spacing: 5px;
}

#headings {
  margin: 50px 10px;
  padding: 10px;
}

#container {
  height: 100%;
}